.navbar {
    background-color: var(--color-white);
    color: #fff;
    padding: 10px 0;
    width: 100%;
    
    font-family: var(--font-plus-jakarta-sans);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;

    margin: 0 auto;
    padding: 0 20px;

    /* border: 2px solid red; */
}

.navbar-logo {
    color: var(--color-black);
    font-size: var(--font-size-13xl);
    text-decoration: none;
    font-family: var(--font-poppins);
    font-weight: 600;
}

.navbar-location {
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
}

.navbar-location-input {
    padding: 10px;
    background-color: var(--color-gainsboro);
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
}

.navbar-location-icon {
    padding: 9px;
    color: var(--color-black);
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    width: 500px;

    /* border: 2px solid magenta; */
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 10px;

    /* border: 2px solid blue; */
}

.navbar-button#button {
    padding: 10px 25px 10px 25px;

    background-color: var(--color-khaki);
    border-radius: var(--br-xl);

    font-size: var(--font-size-mini);
    font-weight: 600;
    color: var(--color-black);
    font-family: var(--font-plus-jakarta-sans);

    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

    border: none;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.navbar-button#button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: var(--color-khaki2); 
}

.navbar-button#button-profile {
    display: none;
    
    padding: 10px 15px 10px 15px;

    background-color: var(--color-khaki);
    border: none;
    border-radius: 12px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

    cursor: pointer;
}

.navbar-button#button-profile:hover {
    background-color: var(--color-khaki2);
    color: var(--color-black);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.navbar-quick-links {
    background-color: var(--color-khaki);
    border-top: 1px solid black; 
    border-bottom: 1px solid black;     
    height: 40px;
    align-items: center;
    display: flex;   
}

.navbar-quick-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.quick-links {
    padding-top: 0px;
    align-items: center;
    list-style: none;
    display: flex;   
    justify-content: flex-start;
    padding-left: 125px;
}

.quick-link {
    margin: 0;
    padding: 0px 20px 0px 0;
    margin-left: 15px;
}

.quick-link-text {
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-poppins);
    font-size: var(--regular-13-size);
    transition: color 0.3s ease-in;
}

.quick-link-text:hover {
    color: var(--color-white);
}