body, html {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--color-white);
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: #000000;
    font-size: 30px;
    text-decoration: none;
    font-family: var(--font-poppins);
    font-weight: bold;
}

.loc-input{
    padding: 10px;
    background-color: var(--color-gainsboro);
    border-radius: 20px;
}

.input-loc{
    background: none;
    border: none;
    outline: 0;
    text-align: center;
    font-family: var(--font-plus-jakarta-sans);
}

.nav-menu {
    display: flex;
    justify-content: center; /* Menengahkan secara horizontal */
    align-items: center;
    list-style: none;
    display: flex;   
    justify-content: space-between;
}

.img-location{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.nav-menu li {
    padding: 10px 20px 10px 20px ;
    margin-right: 15px;
    margin-left: 15px;
    background-color: var(--color-khaki);
    border-radius: 20px;
    display: inline;
}

.nav-menu li a {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-black);
    font-family: var(--font-plus-jakarta-sans);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-menu li:hover {
    background-color: var(--color-khaki-100); 
}

.navbar2{
    background-color: var(--color-khaki);
    border-top: 1px solid black; 
    border-bottom: 1px solid black;     
    height: 40px;
    align-items: center;
    display: flex;   
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* padding: 0 20px; */
}

.nav-menu2{
    padding-top: 0px;
    align-items: center;
    list-style: none;
    display: flex;   
    justify-content: flex-start;
    padding-left: 125px;
    /* margin: 0 16px; */
}

.nav-menu2 li {
    margin: 0;
    padding: 0px 20px 0px 0;
    margin-left: 15px;
}

.nav-menu2 li a{
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-poppins);
    font-size: 14px;
}

.searchbar {
    position: relative;
    width: 100%;
    height: 65vh; /* Menyesuaikan tinggi dengan tinggi viewport */
    background-image: url('assets/close-up-view-father-son-hands.jpg');
    background-size: cover; /* Untuk menutupi seluruh area dengan gambar */
    background-position: center; /* Posisi gambar di tengah-tengah */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-left: 144px; */
    color: white;
    text-align: left;
}

.searchbar .conten-search {
    padding-left: 135px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}

.searchbar h1 {
    font-family: var(--font-plus-jakarta-sans);
    font-size: 5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efek bayangan teks */
}

/* Section Footer */

.craiglist-about{
    width: 280px;
}

.craiglist-about h1{
    margin: 0;
    font-size: 30px;
    font-family: var(--font-poppins);
    font-weight: bold;
}

.craiglist-about h4{
    font-size: 12px;
    font-family: var(--font-plus-jakarta-sans);
    font-weight: 600;
    line-height: 0.7cm;
}


.company{
    width: 200px;
    margin-bottom: 20px;
    font-family: var(--font-plus-jakarta-sans);
}

.company h1{
    font-size: 15px;
}

.company ul{ 
    margin: 0;
    padding: 0;
}

.company ul li{
    list-style-type: none;
    margin-bottom: 8px;
}

.company ul li a{
    text-decoration: none;
    color: var(--color-black);
    line-height: 2;
}


.policies{
    width: 200px;
    margin-bottom: 20px;
    font-family: var(--font-plus-jakarta-sans);
}

.policies h1{
    font-size: 15px;
}

.policies ul{ 
    margin: 0;
    padding: 0;
}

.policies ul li{
    list-style-type: none;
    margin-bottom: 8px;
}

.policies ul li a{
    text-decoration: none;
    color: var(--color-black);
    line-height: 2;
}

.contact-card{
    display: flex;
    align-items: center;
    width: 220px;
}

.image-tel{
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.contact-fill{
    font-family: var(--font-plus-jakarta-sans);
}

.contact-fill h1{
    font-size: 15px;
}

.contact-fill h2{
    font-size: 12px;
}

.footer-wrapper {
    display: flex;
    background-color: var(--color-khaki);
    justify-content: space-around; /* Untuk menyebarkan item dengan ruang yang sama di antara mereka */
    align-items: flex-start; /* Untuk mengatur item ke atas pada sumbu silang */
    padding: 60px 20px; /* Spasi di sekitar konten di dalam wrapper */
}

.footer-wrapper .company,
.footer-wrapper .policies,
.footer-wrapper .contact-per {
    margin-right: 20px; /* Spasi antara setiap item */
}

.footer-wrapper .craiglist-about{
    margin-right: 100px;
}

