body {
    margin: 0;
    padding: 0;
}

.searchbar {
    position: relative;
    width: 100%;
    height: 65vh; /* Menyesuaikan tinggi dengan tinggi viewport */
    background-image: url('/home/assets/banner.jpg');
    background-size: cover; /* Untuk menutupi seluruh area dengan gambar */
    background-position: center; /* Posisi gambar di tengah-tengah */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-left: 144px; */
    color: white;
    text-align: left;
}

.searchbar .content-search {
    padding-left: 135px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}

.searchbar h1 {
    font-family: var(--font-plus-jakarta-sans);
    font-size: 5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efek bayangan teks */
}